.btn {
    background-color: #1BA6AB;
    border-color: #1BA6AB;
}

.btn:hover {
    background-color: cyan;
    border-color: cyan;
}

.back1 {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
}

.card-subtitle {
    --bs-text-opacity: 1;
    color: rgba(80, 90, 99, 0.75)
}

.card {
    border-radius: 3x;
    position: relative;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    background-color: #0c1718;
    color: rgba(255, 255, 255, 0.811);
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.664) 0px 0px 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-img {
    border-radius: 50px;
}

.filter-img:hover {
    padding: 3px;
    border: 2px solid #00798A;
}

.filter-div {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.filter-item {
    max-width: 200px;
    margin-right: 15px;
    cursor: pointer;
}

.filter-div p {
    text-align: center;
}

img.current {
    padding: 3px;
    border: 2px solid #00798A;
}

p.current {
    color: #00798A;
    font-weight: 700;
}