.contact-container h1 {
    font-size: 50px;
    color: #1BA6AB;
    margin: 10vh 0vh;
}

.contact-container {
    margin-bottom: 40px;
    display: block;
}

.card {
    background-image: none;
    background-color: rgba(255, 255, 255, 0.577);
    border-radius: 0px;
    color: black;
}


.btn {
    background-color: #1BA6AB;
    border-color: #1BA6AB;
}

.btn:hover {
    background-color: #1BA6AB;
    border-color: #1BA6AB;
}



.card-container {
    display: block;
    text-align: center;
}